<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>WelcomeLafayette {% block title %}{% endblock %}</title>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{siteUrl('/foundation/css/foundation.css')}}" />
        <link rel="stylesheet" href="{{siteUrl('/css/app.css')}}" />
        <script src="{{siteUrl('/foundation/js/vendor/modernizr.js')}}"></script>
    </head>
    <body>

        {% block topbar %}{% endblock %}

        {% if flash.info %}
            <div class="flash-info panel">{{flash.info}}</div>
        {% endif %}
        {% if flash.warning %}
            <div class="flash-warning panel">{{flash.warning}}</div>
        {% endif %}

        {% block body %}
        {% endblock %}

        <script src="{{siteUrl('/foundation/js/vendor/jquery.js')}}"></script>
        <script src="{{siteUrl('/foundation/js/foundation.min.js')}}"></script>
        <script>
            $(document).foundation();
        </script>
        {% block post_script_load %}{% endblock %}
    </body>
</html>
