<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>WelcomeLafayette {% block title %}{% endblock %}</title>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{siteUrl('/foundation/css/foundation.css')}}" />
        <link rel="stylesheet" href="{{siteUrl('/css/app.css')}}" />
        <script src="{{siteUrl('/foundation/js/vendor/modernizr.js')}}"></script>
    </head>
    <body>

        {% block topbar %}{% endblock %}

        {% if flash.info %}
            <div class="flash-info panel">{{flash.info}}</div>
        {% endif %}
        {% if flash.warning %}
            <div class="flash-warning panel">{{flash.warning}}</div>
        {% endif %}

        {% block body %}
        {% endblock %}

        {% block footer %}
    <div class="row footer-row">
        <div class="small-12 large-3 large-offset-3 columns">
            <ul>
                <li><a href="https://twitter.com/welcomelala"><i class="fa fa-twitter"></i> @WelcomeLala</a></li>
                <li><a href="mailto:info@welcomelafayette.com"><i class="fa fa-envelope"></i> E-mail us</a></li>
                <li>Site created by <a href="http://funkatron.com">Edward Finkler</a></li>
                <li>Photo by <a href="https://www.flickr.com/photos/kdemerly/4635138191/">Karen Demerly</a></li>
            </ul>
        </div>
        <div class="small-12 large-3 end columns">
            <ul>
                <li><a href="http://freedomindiana.org/">Freedom Indiana</a></li>
                <li><a href="http://aclu-in.org/">ACLU of Indiana</a></li>
                <li><a href="http://www.pridelafayette.org/">Pride Lafayette</a></li>
                <li><a href="http://www.hrc.org/states/indiana">HRC in Indiana</a></li>
            </ul>
        </div>
    </div>

        {% endblock %}

        <script src="{{siteUrl('/foundation/js/vendor/jquery.js')}}"></script>
        <script src="{{siteUrl('/foundation/js/foundation.min.js')}}"></script>
        <script>
            $(document).foundation();
        </script>
        {% block post_script_load %}{% endblock %}
    </body>
</html>
