<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>WelcomeLafayette {% block title %}{% endblock %}</title>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{siteUrl('/foundation/css/foundation.css')}}" />
        <link rel="stylesheet" href="{{siteUrl('/css/app.css')}}" />
        <script src="{{siteUrl('/foundation/js/vendor/modernizr.js')}}"></script>

        <meta property="og:image" content="http://welcomelafayette.com/img/splash-courthouse.jpg">
        <meta property="og:title" content="WelcomeLafayette">
        <meta property="og:url" content="http://welcomelafayette.com/">
        <meta property="og:description" content="WelcomeLafayette is a directory of business and organizations in Greater Lafayette, Indiana that are committed to welcoming everyone, regardless of religion, age, ethnicity, gender identity or expression, national origin, skin color, sexual orientation, or socio-economic status.">
    </head>
    <body>

        {% block topbar %}{% endblock %}

        {% if flash.info %}
            <div class="flash-info panel">{{flash.info}}</div>
        {% endif %}
        {% if flash.warning %}
            <div class="flash-warning panel">{{flash.warning}}</div>
        {% endif %}

        {% block body %}
        {% endblock %}

        {% block footer %}
        <div class="footer-row-container">
            <div class="row footer-row">
                <div class="small-12 large-3 large-offset-3 columns">
                    <ul>
                        <li><a href="https://twitter.com/welcomelala"><i class="fa fa-twitter"></i> @WelcomeLala</a></li>
                        <li><a href="mailto:info@welcomelafayette.com"><i class="fa fa-envelope"></i> E-mail us</a></li>
                        <li>Site by <a href="http://funkatron.com">Edward Finkler</a></li>
                        <li>Photo by <a href="https://www.flickr.com/photos/kdemerly/4635138191/">Karen Demerly</a></li>
                        <li><a href="https://github.com/funkatron/welcomelafayette.com"><i class="fa fa-github"></i> Source Code</a>
                    </ul>
                </div>
                <div class="small-12 large-3 end columns">
                    <ul>
                        <li><a href="http://freedomindiana.org/">Freedom Indiana</a></li>
                        <li><a href="http://aclu-in.org/">ACLU of Indiana</a></li>
                        <li><a href="http://www.pridelafayette.org/">Pride Lafayette</a></li>
                        <li><a href="http://www.hrc.org/states/indiana">HRC in Indiana</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}

        <script src="{{siteUrl('/foundation/js/vendor/jquery.js')}}"></script>
        <script src="{{siteUrl('/foundation/js/foundation.min.js')}}"></script>
        <script>
            $(document).foundation();
        </script>
        {% block post_script_load %}{% endblock %}
        {% block analytics %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '{{google_analytics_code}}', 'auto');
          ga('send', 'pageview');

        </script>
        {% endblock %}
    </body>
</html>
